*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container
{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
	padding: 20px;
}
.container > form
{
	display: flex;
	flex: 1 1 100%;
	
}
.inputs, .output
{
	flex: 1 1 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.3);
	padding: 20px;
}
.inputs
{
	justify-content: flex-start;
}

.inputs > label
{
	padding: 0px 20px 0px 0px;
	font-weight: 333;
	font-size: 1em;
	
	display: flex;
	align-items: center;
	margin: 5px 10px;
}
.inputs > input
{
	flex: 1 1 200px;
	font-weight: 555;
	margin: 5px 10px;
	outline: none;
	border:  1px solid #434456;
	border-radius: 3px;
	padding: 15px 10px;
	display: flex;
}
.inputs > button
{
	flex: 0 1 200px;
	margin: 5px 10px;
	outline: none;
	border:  1px solid #434456;
	border-radius: 3px;
	padding: 15px 30px;
	background: #FCCF3A;
	color:  black;
	font-size: 1.5em;
}

.output
{
	font-size: 2em;
	font-weight: 999;
	min-height: 50vh;
}
.image
{
	height: 100px;
	width: 100px;
}

.loading
{
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.3);
}
.rotate
{
	display: block;
	height: 100px;	
	width: 100px;
	border-radius: 50%;
	border-left: 10px solid;
	border-bottom: 	10px solid rgba(0, 0, 0, 0.2);
	border-top: 10px solid rgba(0, 0, 0, 0.2);
	border-right: 10px solid;
	animation: rotate-infinite 1s linear infinite;
}

@keyframes rotate-infinite {
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
	
}
#result_success
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}
@keyframes fadein
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
#result_success > p
{
	text-align: center;
	flex: 1 1 100%;
}
.hidden
{
	display: none;
}
.visible
{
	display: flex;
	animation: fadein 1s ease;
}

@media(min-width: 500px)
{
	.container
	{
		padding: 20px 10vw;
	}
	.inputs > input
	{
		font-size: 1.2em;
	}
}

@media(min-width: 1000px)
{
	.container
	{
		padding: 20px 20vw;
	}

}